/* style sheet */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}
nav {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #444;
}
nav a {
    color: white;
    text-decoration: none;
    /* padding: 1em;  */
    display: inline-block;
    margin: 10px 10px; 
    font-weight: bold;
    font-size: 18px;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 2em;
}
.about {
    text-align: center;
    padding: 2em;
}
/* .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */
/* .project {
    background-color: white;
    padding: 1em;
    margin: 1em;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
} */

.project {
    display: flex;
    align-items: center;
    margin: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.project-image {
    flex: 1;
    margin-right: 20px;
}

.project-image img {
    max-width: 100%;
    /* margin: auto;
    align-items: center; */
    height: auto;
}

.project-details {
    flex: 2;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between; 
}
.centered-title {
    text-align: center;
}

.selfie {
    max-width: 30%; /* Adjust the width as needed */
    height: auto;
    margin-right: 10px; /* Add some space between the image and text */
}

.mobile-menu-icon {
    display: none; /* Initially hidden on larger screens */
}

@media screen and (max-width: 768px) {
    /* Adjust the breakpoint (768px) as needed */

    nav {
      display: none; /* Hide the nav on small screens */
      text-align: center;
    }

    nav.collapsed {
        display: block; /* Display the collapsed nav when needed */
    }

    .mobile-menu-icon {
      display: block; /* Show the mobile menu icon */
      cursor: pointer;
    }

    /* Add styles to make the navigation appear as a mobile menu when collapsed */
    .collapsed {
      display: block;
    }
  }